<div class="mt-5">
  <div *ngIf="quizzes.length == 0">
    <p-panel [showHeader]="false">
      <div style="text-align: center">
        <img
          src="https://c.tenor.com/sKDzNg2OwAsAAAAC/sad-face-emoji.gif"
          style="text-align: center"
        />
        <h3>There are no quizzes available</h3>
      </div>
    </p-panel>
  </div>
  <p-panel *ngIf="quizzes.length > 0" header="All Quizzes">
    <p-table [value]="quizzes" [rowHover]="true" dataKey="id" class="m-5">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 15%; text-align: center; vertical-align: middle">
            Author
          </th>
          <th style="width: 20%; text-align: center; vertical-align: middle">
            Title
          </th>
          <th style="width: 15%; text-align: center; vertical-align: middle">
            Category
          </th>
          <th style="width: 10%; text-align: center; vertical-align: middle">
            Difficulty
          </th>
          <th style="width: 15%; text-align: center; vertical-align: middle">
            Creation Date
          </th>
          <th style="width: 15%; text-align: center; vertical-align: middle">
            # Questions
          </th>
          <th
            style="width: 10%; text-align: center; vertical-align: middle"
          ></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-quiz>
        <tr>
          <td style="text-align: center; vertical-align: middle">
            {{ quiz.authorName }}
          </td>
          <td style="text-align: center; vertical-align: middle">
            {{ quiz.title }}
          </td>
          <td style="text-align: center; vertical-align: middle">
            {{ quiz.category }}
          </td>
          <td style="text-align: center; vertical-align: middle">
            {{ quiz.difficulty }}
          </td>
          <td style="text-align: center; vertical-align: middle">
            {{ quiz.creationDate | date }}
          </td>
          <td style="text-align: center; vertical-align: middle">
            {{ quiz.elements.length }}
          </td>
          <td style="text-align: center; vertical-align: middle">
            <button
              pButton
              pRipple
              icon="pi pi-play"
              class="p-button-rounded p-button-success p-mr-2"
              (click)="takeQuiz(quiz)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div>
