<div class="fixed-bottom">
  <body>
    <div class="footer">
      <ul class="social-network social-circle">
        <li>
          <a class="icoTwitter" title="Twitter"
            ><i><fa-icon [icon]="faTwitter"></fa-icon></i
          ></a>
        </li>
        <li>
          <a class="icoQuora" title="Quora"
            ><i> <fa-icon [icon]="faPinterestP"></fa-icon></i
          ></a>
        </li>
        <li>
          <a class="icoFacebook" title="Facebook"
            ><i><fa-icon [icon]="faFacebook"></fa-icon></i
          ></a>
        </li>
        <li>
          <a class="icoInstagram" title="Instagram"
            ><i><fa-icon [icon]="faInstagram"></fa-icon></i
          ></a>
        </li>
      </ul>
      <p>Share your experience on social networks!</p>
    </div>
  </body>
</div>
